#==================================================
#==========   INPUT data    =======================
#==================================================
#directories #Dont forget the backslash at the end of the path
snakemake_folder: /home/mostafa.abdel/aProjects/gitProjects/cfvcatch/ 
raw_data_dir: /home/mostafa.abdel/aProjects/gitProjects/cfvcatch/input/ 
fasta_dir: /home/mostafa.abdel/aProjects/gitProjects/cfvcatch/input/
results_dir: results/ 

#==================================================
#==========   SOFTWARE settings    ================
#==================================================
#assembly
trimmer: trimmomatic
assembler: shovill #choose between [shovill spades megahit sksea]
assembler_options: --trim
filter: yes
#snippy_options: --cleanup #--mincov 5
#reference: /data/AGr110/mostafa/campylobacter/campyFetus_all/CP000487/CP000487.1.gbk 
#Resistance and virulence dbs
db_abricate: ncbi
abricate_options: --mincov 30 --minid 90  
#assembly_options
#shovill_assembler: --assembler spades #choose between [spades megahit sksea]
#shovill_options: --trim #choose between different shovill parameters [--trim --noreadcorr --nostitch --nocorr --minlen 500 --mincov 5 --keepfiles ] #--depth 0 to disable the Sub-sampling of the reads to 100
MLST_options: --scheme cfetus

